#!/usr/bin/env node

import { Exec } from '@athenna/common'

Exec.artisan('{{ artisanPath }}', {
  nodeOptions: [
    '--no-warnings',
    '--enable-source-maps',
    '--loader=ts-node/esm',
    '--experimental-import-meta-resolve'
  ]
})
